<div #rendererContainer (click)="addRandomItem()">
  <app-cube *ngFor="let item of items; trackBy: getItemId" [x]="item.x" [y]="item.y" [z]="item.z"
    [color]="item.colorNum" [id]="item.id" [scene]="scene" [visible]="item.visible">
  </app-cube>
</div>
<ul>
  <li *ngFor="let item of items; trackBy: getItemId" [style.color]="item.colorString">
    {{item.id}}
    <button (click)="removeItem(item)">Remove</button>
    <button (click)="toggleItemVisibility(item)">Show/Hide</button>
  </li>
</ul>
